body{background: #efefef!important}
.main-content{margin-top:70px;margin-bottom: 80px;}

.main-content>.name{margin-bottom: 10px;color:#808080;}
.main-content .menu-left{margin-right:-15px!important;color:#808080}
.main-content .menu-left .table{border:1px solid #d7d7d7;background: #fff;padding-bottom:10px;}
.main-content .menu-left .table .title{padding:10px 20px;border-bottom:1px solid #d7d7d7;font-size: 1.2em;color:#ce0000}
.main-content .menu-left .table .title i{float:right;margin-top:7px;color:#ea0000;font-size: 0.9em;color:#eaeaea}
.main-content .menu-left .table .title i:hover{cursor: pointer;font-size: 1.2em;margin-top:4px;margin-right:1px;color:#c0c0c0}
.main-content .menu-left .table .item{padding:5px 20px}
.main-content .menu-left .table .item a{color:#808080}
.main-content .menu-left .table .item a.active{color:#ce0000}
.main-content .menu-left .table .item p{margin:0}
.main-content .menu-left .table .item p>span{cursor: default;}
.main-content .menu-left .table .item>p>span.active{color:#ce0000}
.main-content .menu-left .table i{margin-right:5px}
.main-content .menu-left .table i.fa-caret-down{margin-right:3px}
.main-content .menu-left .table .info{font-size: 12px;padding-left:15px}
.main-content .menu-left .table .info .i{display: flex;margin-top:5px}
.main-content .menu-left .table .info .i .n{flex-grow: 1;-webkit-line-clamp: 1;}
.main-content .menu-left .table .info .w{margin-top:4px}
.main-content .menu-left .table .info a:hover{text-decoration: none!important}

.main-content .menu-left .table .info a:hover span{text-decoration: underline;}
.main-content .menu-left .table .info a.o{color:#cecece}

.main-content .body{padding:0 20px;color:#626262}
.main-content .body-overview .info-course>div{margin-top: 5px}
.main-content .body-overview .info-course .t{margin-right:5px}
.main-content .body-overview .info-course >div> .name{font-size: 1.5em;color:red}
.main-content .body-overview .info-course >div> i{float:right;border:1px solid #808080;padding:2px 5px;margin-top:10px;cursor: pointer;}
.main-content .body-overview .info-course > .time{display: flex}
.main-content .body-overview .info-course > .process{display: flex}
.main-content .body-overview .info-course > .process .grap{display:flex;justify-content:center;margin:0.5em 20px 0 0px;margin-top:0.5em;border-radius:5px;flex-grow: 1;position: relative;height: 10px;background: #c0c0c0}
.main-content .body-overview .info-course > .process .grap .c{position: absolute;top:0;left: 0;height:10px;background: #ff8000;;border-radius:5px;}
.main-content .body-overview .info-course > .process .grap .p{font-size: 8px;z-index: 1;}
.main-content .body-overview .block{margin-top: 20px;}
.main-content .body-overview .block .title{color:#e80000;margin-bottom: 5px}
.main-content .body-overview .block .title a{color:#e80000;}
.main-content .body-overview .block .title a:hover{text-decoration: none}
.main-content .body-overview .icon{max-height: 1.5em;vertical-align: bottom;}
.main-content .body-overview .block .list{margin-left:20px}
.main-content .body-overview .block .list tr.important i{color:red!important}
.main-content .body-overview .block .list tr.important a{color:red!important}
.main-content .body-overview .block .list tr td{padding:2px 10px;vertical-align: top;}
.main-content .body-overview .block .list tr td a{color:#0000ff}
.main-content .body-overview .news tr td:nth-child(1){font-size: 0.9em;padding-left:5px;padding-right:5px}
.main-content .body-overview .news .list tr td a{color:#626262}
.main-content .body-overview .news .list tr td a:hover{text-decoration: none;color:#0000ff!important}
.main-content .body-overview .info{}
.main-content .body-overview .info h3{width: 60%;border-top:1px solid #c0c0c0;margin:50px auto;margin-bottom:30px}
.main-content #modalEditCourse table.table{width:80%;margin:auto}
.main-content #modalEditCourse  table.table tr.t{display: flex;}
.main-content #modalEditCourse  table.table tr.t>td{display: flex;padding:5px}
.main-content #modalEditCourse  table.table tr.t>td:nth-child(1){width: 140px}
.main-content #modalEditCourse table.table tr.t>td:nth-child(2){flex-grow:1}
.main-content #modalEditCourse table.table tr.t>td input{border-radius:4px;border:1px solid #ddd;flex-grow: 1}
.main-content #modalEditCourse table.table tr.t>td textarea{flex-grow:1;border-radius:4px;border:1px solid #ddd;resize:none}

.main-content .body-members {}
.main-content .body-members .info span:nth-child(2){margin-right: 20px}
.main-content .body-members .info input{border-radius: 4px;padding:5px;border:1px solid #c0c0c0;font-size: 0.8em;min-width: 250px}
.main-content .body-members .info button{float: right}
.main-content .body-members img{height: 25px;margin-top: -3px}
.main-content .body-members table{margin-top: 10px}
.main-content .body-members table tr{display: flex;}
.main-content .body-members table th{padding:5px 0}
.main-content .body-members table td{padding:5px 0;cursor: pointer;-webkit-line-clamp: 1;}
.main-content .body-members table .avatar{flex-basis:10%;}
.main-content .body-members table td.avatar{padding-left:5px}
.main-content .body-members table .name{flex-basis: 45%;padding-right:5px}
.main-content .body-members table .email{flex-basis: 30%}
.main-content .body-members table .msg{flex-basis: 15%;text-align:center}
.main-content .body-members table.admin .name{flex-basis: 40%}
.main-content .body-members table.admin .msg{flex-basis: 10%;}
.main-content .body-members table.admin .r{flex-basis:10%;text-align: right}
.main-content .body-members table td.msg:hover{color:red;z-index:10}
.main-content .body-members table.admin td.r:hover{color:red;z-index: 10}
.main-content .body-members .nav{justify-content: center;margin-top:25px;border-top:1px solid #c0c0c0;padding-top:10px}
.main-content .body-members .nav a{cursor: pointer;display: inline-block;padding:2px 5px;margin:2px;}
.main-content .body-members .nav a.active{;color:red;display: inline-block;}
.main-content .body-members .nav a:hover{color:red;text-decoration: underline;}


.main-content #modalChat{}
.main-content #modalChat table td{vertical-align: top;padding:10px 5px}
.main-content #modalChat table td{text-align: left}
.main-content #modalChat textarea{resize: none;}

.main-content #modalAddMember{font-size:13px}
.main-content #modalAddMember .modal-header{flex-direction: column}
.main-content #modalAddMember .search{width:100%;position: relative;margin-top:10px}
.main-content #modalAddMember .search input{z-index:10;width:100%;border:1px solid #c0c0c0;padding:5px 10px;border-radius:4px}
.main-content #modalAddMember .search .pl{display: inline-block;pointer-events:none;position: absolute;width:100%;top:0;left:0;padding:6px 10px}
.main-content #modalAddMember .search .result{z-index:10;background:white;position: absolute;top:31px;left:0;width:100%;padding:5px 0px;border:1px solid #c0c0c0}
.main-content #modalAddMember .search .result>div{padding:0 10px}
.main-content #modalAddMember .search .result .r{background: #eaeaff}
.main-content #modalAddMember .sum{margin-top:10px;width:100%;}
.main-content #modalAddMember .sum .r{float:right;margin-top:3px}
.main-content #modalAddMember .modal-body{height: 250px;overflow: auto;}
.main-content #modalAddMember .email{width: 100%;}
.main-content #modalAddMember .email i{float:right;margin-top:3px}
.main-content #modalAddMember .modal-footer button{padding:5px 10px;border:1px solid #c0c0c0}

.main-content .body-question{}
.main-content .body-question>h4>button{float:right}
.main-content .body-question>div{font-size: 14px;margin-top:10px}
.main-content .body-question .search{display: flex}
.main-content .body-question .search .ip{flex-grow: 1;position: relative;}
.main-content .body-question .search .ip i{margin-left:20px;padding:3px 5px;border:1px solid #c0c0c0}
.main-content .body-question .search .ip i.active{color:red;border-color: red}
.main-content .body-question .search label{line-height: 30px}
.main-content .body-question .search input{margin-left:10px;width:60%;padding:3px 5px}
.main-content .body-question .search .resultSearch{min-width:60%;position: absolute;top:30px;left: 10px;padding:3px 5px;border:1px solid #c0c0c0;background: white}
.main-content .body-question .search .resultSearch div{ }
.main-content .body-question .result .answer{display: flex}
.main-content .body-question .result .answer span{display: inline-block;}
.main-content .body-question .result .answer .r{background: #c0c0c0}
.main-content .body-question .result .answer .remove:hover{color:red;}
.main-content .body-question .result textarea{flex-grow:1;border:1px solid #c0c0c0;margin-bottom:5px;background: #f9f9f9;overflow: hidden}
.main-content .body-question .edit{font-size: 13px}
.main-content .body-question .edit button{padding:3px 10px;border-color:#c0c0c0;margin-top:10px}
.main-content .body-question .listLibrary .l{display: flex;padding:5px;border-bottom:1px dotted #808080}
.main-content .body-question .listLibrary .l .name{flex-grow:1}
.main-content .body-question .listLibrary .l .c{margin:0 20px;}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin:0
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-content #modalQuestion{}
.main-content #modalQuestion .total{}
.main-content #modalQuestion .total label{margin-right:10px}
.main-content #modalQuestion table{width:100%;margin:10px 0}
.main-content #modalQuestion tr{display: flex}
.main-content #modalQuestion tr td{padding:5px}
.main-content #modalQuestion tr td.l{min-width:20%}
.main-content #modalQuestion tr td.ip{flex-grow: 1}
.main-content #modalQuestion tr td.ip input{width:100%}
.main-content #modalQuestion tr td.pc{text-align: center}
.main-content #modalQuestion div{text-align: center}
.main-content #modalQuestion .modal-body button{background: #ff8040;color:white;padding:5px 10px;border:1px solid #c0c0c0}

.main-content .body-test{}
.main-content .body-test #modalStart{position: fixed;width:100%;height:100%;top:0;left:0;background: rgba(0,0,0,0.8);z-index:1000;display: none}
.main-content .body-test #modalStart .c{text-align: center;width:100%;margin-top:25%;}
.main-content .body-test #modalStart .c button{padding:10px 20px;border:1px solid #c0c0c0;background: #ff8040;color:white;font-size: 20px}
.main-content .body-test .info{display: flex;width:100%;font-size: 18px;padding-bottom:5px;border-bottom:1px solid #4a4242}
.main-content .body-test .info div{flex-grow: 1}
.main-content .body-test .info .n{text-align: left}
.main-content .body-test .info .t{text-align: center}
.main-content .body-test .info .t i{margin-right:5px}
.main-content .body-test .info .s{text-align: right;font-size: 14px;}
.main-content .body-test .info .s button{padding:3px 15px;border:1px solid #c0c0c0;background: blue;color:white}
.main-content .body-test .result{display:flex;font-size: 18px;padding-bottom:5px;border-bottom:1px solid #4a4242}
.main-content .body-test .list{min-height: 300px;margin-top: 10px;font-size: 14px}

.main-content .body-test .question{display: flex;cursor: default;}
.main-content .body-test .question .t{width:30px}
.main-content .body-test .question .q{flex-grow: 1}
.main-content .body-test .list-answer{margin-bottom:10px;margin-left:30px;display: flex;flex-wrap: wrap;}
.main-content .body-test .list-answer .answer{flex-basis: 50%;display: flex;margin-top:5px}
.main-content .body-test .list-answer .t{width:20px;margin-top: 2px}
.main-content .body-test .list-answer .a{flex-grow: 1}
.main-content .body-test .list-answer .answer label{padding-right:15px}
.main-content .body-test .show-error .error{background: #ff9b9b}
.main-content .body-test .show-error .correct{background: #84ff84}
.main-content .body-test .mynav{margin-top: 20px;}
.main-content .body-test .mynav p.m button{padding:5px 10px;min-width: 150px}
.main-content .body-test .mynav p.m .next{float:right}
.main-content .body-test .mynav p.m .prev{float:left}
.main-content .body-test .mynav p.n{text-align: center}
.main-content .body-test .mynav p.n span{display: inline-block;margin:2px 5px;;text-decoration: underline;cursor: pointer;padding:0 3px;}
.main-content .body-test .mynav p.n span.active{color:#ff8040}
.main-content .body-test .mynav p.n span.over{text-decoration: none}
.main-content .body-test .sr input{pointer-events:none;}

.main-content .body-posts > h4{color:red;margin-bottom: 20px}
.main-content .body-posts > h4 button{float:right;font-size:14px;padding:5px 10px;color:white;background:#ff8040;border:1px solid #c0c0c0}
.main-content .body-posts .topic{margin-bottom:15px;display: flex}
.main-content .body-posts .topic img{height: 30px;margin-right:5px}
.main-content .body-posts .topic .title{margin-bottom:0;-webkit-line-clamp: 1;color:#2b2bff;padding-right:40px}
.main-content .body-posts .topic .pin{color:#ff5604}
.main-content .body-posts .topic .info{display: flex;font-size: 12px;color:#808080;}
.main-content .body-posts .topic .info .time{margin-left:20px}
.main-content .body-posts .topic .info i{margin-right:5px;}
.main-content .body-posts .topic .info .comments{margin-left:20px}

.main-content .body-post {font-size: 14px;}
.main-content .body-post .topic .title{font-size: 18px;color:#ce0000;margin-right:150px;display: flex}
.main-content .body-post .topic .title .c{flex-shrink: 0}
.main-content .body-post .topic .title .t{margin:0 10px;flex-grow: 1}
.main-content .body-post .topic .title button{position:absolute;top:0;right:15px;padding:2px 10px;font-size: 14px}
.main-content .body-post .topic .author{font-size:12px;color:#c0c0c0}
.main-content .body-post .topic .author .name{margin-right:10px}
.main-content .body-post .topic .content-topic{}
.main-content .body-post .topic .line{border-top:1px dotted #c0c0c0;margin-top:15px}
.main-content .body-post .posts .post{display: flex;padding-top: 15px;border-bottom:1px dotted #c0c0c0;padding-bottom:15px;  -webkit-transition: .6s;transition: .6s;}
.main-content .body-post .posts .avatar{margin-right:10px}
.main-content .body-post .posts .avatar img{width: 30px;height:30px}
.main-content .body-post .posts .post .ct .n{color:black;font-weight: 600}
.main-content .body-post .posts .post .ct {flex-grow: 1}
.main-content .body-post .posts .post .ct .t{font-size:12px;color:#c0c0c0;margin-left:30px}
.main-content .body-post .posts .post .ct .option{border-bottom:1px solid #cecece;width: 100%}
.main-content .body-post .posts .post .ct .option i:hover{color:red}
.main-content .body-post .posts .subcomments{display: none}
.main-content .body-post .posts .subcomments .list{overflow: auto;position: relative;}
.main-content .body-post .posts .subcomments .input-comment{margin-top:10px}
.main-content .body-post .posts .subcomments .input-comment .ip{display: flex;width: 100%;}
.main-content .body-post .posts .subcomments .input-comment .ip textarea{flex-grow:1;border:1px solid #c0c0c0;resize: none}
.main-content .body-post .posts .subcomments .input-comment .ip label{font-size:14px;;padding:8px 10px;border:1px solid #c0c0c0;border-radius:0!important;margin:0}
.main-content .body-post .posts .subcomments .input-comment .ip input{width: 0;height: 0}
.main-content .body-post .posts .subcomments .input-comment .listF{width:100%}
.main-content .body-post .posts .subcomments .input-comment .listF input{width: 0;height: 0}
.main-content .body-post .posts .subcomments .input-comment .listF .f{display: flex;margin-top: 5px}
.main-content .body-post .posts .subcomments .input-comment .listF .f .icon i{margin-right:10px;}
.main-content .body-post .posts .subcomments .input-comment .listF .f i.r{margin-left: 20px;display: none;margin-top: 5px}
.main-content .body-post .posts .subcomments .input-comment .listF .f:hover i.r{display: block;color:red}

.main-content .body-post .edit{float:right;flex-shrink: 0;height:1.5em;color:#808080;padding:0 3px;border:1px dotted #a3a3a3;font-size: 0.8em}
.main-content .body-post .edit i{margin:0 2px}
.main-content .body-post .edit i.pin{color:red}
.main-content .body-post .edit i:hover{color:red}
.main-content .body-post .posts .edit{border:none}
.main-content .body-post .f>div{cursor: pointer;}
.main-content .body-post .f>div:hover{color:black}

.main-content  #modalPost{}
.main-content  #modalPost table{width:100%;margin-bottom: 10px}
.main-content  #modalPost table td{vertical-align: top}
.main-content  #modalPost table tr{display: flex;width:100%}
.main-content  #modalPost table tr td{padding-bottom:5px}
.main-content  #modalPost table tr td:nth-child(1){width: 55px}
.main-content  #modalPost table tr td:nth-child(2){flex-grow: 1;margin-left: 5px}
.main-content  #modalPost table tr textarea{width:100%;}
.main-content  #modalPost table tr input{width:100%}
.main-content  #modalPost #listFile input{width: 0;height: 0}
.main-content  #modalPost #listFile .f{display: flex;margin-top: 5px;margin-left:55px}
.main-content  #modalPost #listFile .f .icon i{margin-right:10px;}
.main-content  #modalPost #listFile .f i.r{margin-left: 20px;display: none;margin-top: 5px}
.main-content  #modalPost #listFile .f:hover i.r{display: block;color:red}
.main-content  #modalEdit table{width:100%;margin-bottom: 10px}
.main-content  #modalEdit table td{vertical-align: top}
.main-content  #modalEdit table tr{display: flex;width:100%}
.main-content  #modalEdit table tr td{padding-bottom:5px}
.main-content  #modalEdit table tr td:nth-child(1){width: 55px}
.main-content  #modalEdit table tr td:nth-child(2){flex-grow: 1;margin-left: 5px}
.main-content  #modalEdit table tr textarea{width:100%;}
.main-content  #modalEdit table tr input{width:100%}
.main-content  #modalEdit #listFileEdit input{width: 0;height: 0}
.main-content  #modalEdit #listFileEdit .f{display: flex;margin-top: 5px;margin-left:55px}
.main-content  #modalEdit #listFileEdit .f .icon i{margin-right:10px;}
.main-content  #modalEdit #listFileEdit .f i.r{margin-left: 20px;display: none;margin-top: 5px}
.main-content  #modalEdit #listFileEdit .f:hover i.r{display: block;color:red}


.main-content .body-lessons .title{font-size: 1.5em;color:red}
.main-content .body-lessons .list-lessons{margin-top:20px;width:100%}
.main-content .body-lessons .list-lessons .lesson{display: flex;width:100%;margin-top:5px}
.main-content .body-lessons .list-lessons .lesson .c{flex-direction:column;margin-right:5px;flex-grow: 1;border-bottom:1px dotted #c0c0c0;display: flex}
.main-content .body-lessons .list-lessons .lesson .n{display: flex;margin-bottom:5px}
.main-content .body-lessons .list-lessons .lesson .n:hover{background: #e2e2e2}
.main-content .body-lessons .list-lessons .lesson .n i{margin-top:5px}
.main-content .body-lessons .list-lessons .lesson .n .name{flex-grow:1;margin-left:5px}
.main-content .body-lessons .list-lessons .lesson .n input{flex-grow:1;border:1px solid #c0c0c0;background: #ebebeb;padding:2px}
.main-content .body-lessons .list-lessons .lesson .c .info{padding-left:10px;font-size:12px}
.main-content .body-lessons .list-lessons .lesson .c .info .files .f i{margin-right:5px}
.main-content .body-lessons .list-lessons .lesson .c .info .files .f span{margin-right:20px}
.main-content .body-lessons .list-lessons .lesson .c .info .files .f .r{color:#c0c0c0}
.main-content .body-lessons .list-lessons .lesson .c .info .files .f .r:hover{color:red}
.main-content .body-lessons .list-lessons .lesson .c .info .files input{display:none}
.main-content .body-lessons .list-lessons .lesson .c .info .create{margin-top:10px;font-size:12px;}
.main-content .body-lessons .list-lessons .lesson .c .info .create a{color:#8080ff}
.main-content .body-lessons .list-lessons .lesson .c .info .create label{color:#8080ff;margin-left:10px;margin-botom:0!important}
.main-content .body-lessons .list-lessons .lesson .c .info .create label:hover{text-decoration: underline;}
.main-content .body-lessons .list-lessons .lesson .c .info .create input{display: none}
.main-content .body-lessons .list-lessons .lesson i.h{border:1px solid transparent;}
.main-content .body-lessons .list-lessons .lesson i.edit{padding:3px 5px;height:21px;margin-top:2px;}
.main-content .body-lessons .list-lessons .lesson i.h:hover{color:red}
.main-content .body-lessons .list-lessons .lesson i.active{color:red}
.main-content .body-lessons .list-lessons .lesson .m{display: flex;flex-direction: column;height:24px;position: relative;}
.main-content .body-lessons .list-lessons .lesson .m i{padding:0;font-size: 1.3em;height:10px;margin-bottom: 2px;margin-top:-2px}

.main-content .body-lessons .create{margin-top:20px}
.main-content .body-lessons .create button{padding:5px 10px;font-size: 14px}
.main-content .body-lessons .create input{border:1px solid #c0c0c0;border-radius: 4px;padding:5px 10px;width: 100%}



.main-content .body-create-assignment>.title{font-size: 1.5em;color:red;text-align: center}
.main-content .body-create-assignment .flex{display: flex;font-size: 14px}
.main-content .body-create-assignment .wrapper {width: 80%;margin:20px auto}
.main-content .body-create-assignment .wrapper .t{width:80px}
.main-content .body-create-assignment .wrapper>div{margin-top:10px}
.main-content .body-create-assignment .wrapper .lesson{}
.main-content .body-create-assignment .wrapper .lesson select{}
.main-content .body-create-assignment .wrapper .title input{flex-grow: 1}
.main-content .body-create-assignment .wrapper .ct textarea{flex-grow: 1}
.main-content .body-create-assignment .wrapper .m {padding-left:80px}
.main-content .body-create-assignment .wrapper .m label{cursor:pointer;padding:5px 10px;margin:0;border:1px solid #c0c0c0;background: #808080;color:#fff }
.main-content .body-create-assignment .wrapper .m label:hover{filter: brightness(85%);}
.main-content .body-create-assignment .wrapper .m label.save{background: #ff8000;color:white}
.main-content .body-create-assignment .wrapper .m input{display: none;}
.main-content .body-create-assignment .wrapper .list-file input{display: none}
.main-content .body-create-assignment .wrapper .list-file{padding-left:80px;}
.main-content .body-create-assignment .wrapper .list-file .f span{margin:5px 20px 5px 5px}
.main-content .body-create-assignment .wrapper .list-file .f .r{color:#c0c0c0}
.main-content .body-create-assignment .wrapper .list-file .f .r:hover{color:#808080}
.main-content .body-create-assignment .wrapper .time span{margin:0 5px}
.main-content .body-create-assignment .wrapper .time input{z-index: 5}
.main-content .body-create-assignment .wrapper .g input{margin-top:10px}

.main-content .body-create-assignment #modalCreateLesson button{padding:5px 10px;font-size: 14px;background: #c0c0c0;border:1px solid #c0c0c0}
.main-content .body-create-assignment #modalCreateLesson button .s{color:white;background: #ff8040}
.main-content .body-create-assignment #modalCreateLesson input{border:1px solid #c0c0c0;border-radius: 4px;padding:5px 10px;width: 100%}

.main-content .body-assignments>.title{font-size: 1.5em;color:red;width: 100%;}
.main-content .body-assignments>.title a{float:right;padding:5px 10px;border:1px solid #8080ff;background: #0000ff;color:white;font-size: 13px}
.main-content .body-assignments>.title a:hover{text-decoration: none;filter:brightness(85%)}
.main-content .body-assignments .wrapper{margin-top:20px;width:100%;font-size: 14px;}
.main-content .body-assignments .admin{}
.main-content .body-assignments .admin .toggle label{margin-bottom:-5px}
.main-content .body-assignments table{margin-top:10px}
.main-content .body-assignments .admin table tr{display: flex;}
.main-content .body-assignments .admin table th{padding:5px 0}
.main-content .body-assignments .admin table td{padding:5px 0;cursor: pointer;-webkit-line-clamp: 1;}
.main-content .body-assignments .admin table th.title{flex-basis: 40%}
.main-content .body-assignments .admin table th.created_at{flex-basis: 25%;flex-shrink: 0}
.main-content .body-assignments .admin table th.timeEnd{flex-basis: 25%;flex-shrink: 0}
.main-content .body-assignments .admin table th.detail{flex-basis: 10%;flex-shrink: 0}
.main-content .body-assignments .admin table td.title{flex-basis: 40%;padding-right:5px}
.main-content .body-assignments .admin table td.created_at{flex-basis: 25%;flex-shrink: 0}
.main-content .body-assignments .admin table td.timeEnd{flex-basis: 25%;flex-shrink: 0}
.main-content .body-assignments .admin table td.detail{flex-basis: 10%;flex-shrink: 0}

.main-content .body-assignment>.title{font-size: 1.5em;color:red;width: 100%;}
.main-content .body-assignment>.title a{;;}
.main-content .body-assignment>.title>div{float:right;font-size: 13px;color:blue}
.main-content .body-assignment>.title>div i{padding:2px 5px;border:1px solid #8080ff}
.main-content .body-assignment>.title>div i:hover{color:red;cursor: pointer;}
.main-content .body-assignment .wrapper{margin-top:0px;width:100%;font-size: 14px;border-bottom:1px dotted #8080ff;padding-bottom:20px}
.main-content .body-assignment .wrapper .deadline{margin-bottom: 10px;color:#ff0000;font-size: 12px}
.main-content .body-assignment .wrapper .deadline .t{margin-left:5px}
.main-content .body-assignment .wrapper .files{margin-top:5px}
.main-content .body-assignment .wrapper .f .red{color:red}
.main-content .body-assignment .wrapper .f .blue{color:blue}
.main-content .body-assignment .submit{margin-top:20px;font-size: 14px}
.main-content .body-assignment .submit .title{font-size: 1.5em;width: 100%;margin-bottom: 10px}
.main-content .body-assignment .submit .form-submit{width: 90%;margin:20px auto;padding:20px;border:1px solid #fff;background: #fff;box-shadow: 0 0 5px rgba(0,0,0,0.4) }
.main-content .body-assignment .submit .form-submit table{width:100%}
.main-content .body-assignment .submit .form-submit tr{border-bottom:1px dotted #c0c0c0;display: flex}
.main-content .body-assignment .submit .form-submit tr.c{border:none}
.main-content .body-assignment .submit .form-submit tr.c td{padding-top:20px}
.main-content .body-assignment .submit .form-submit tr.c button{background: #ff8000;color:white;padding:5px 10px;border:1px solid #c0c0c0;border-radius:4px}
.main-content .body-assignment .submit .form-submit td{padding:10px 10px 5px 10px}
.main-content .body-assignment .submit .form-submit td.f{flex-basis: 50%;padding-right:10px;text-align: right}
.main-content .body-assignment .submit .form-submit td.f span{text-align: left;min-width: 20%;display: inline-block;}
.main-content .body-assignment .submit .form-submit .w td.f span{text-align: left;min-width: 50%;display: inline-block;}
.main-content .body-assignment .submit .form-submit td.s{flex-basis: 50%}
.main-content .body-assignment .submit .form-submit input{display:none}
.main-content .body-assignment .submit .form-submit tr.c label{background: #c0c0c0;color:#808080;padding:5px 10px;border:1px solid #c0c0c0;border-radius:4px}
.main-content .body-assignment .submit .form-submit tr.c label:hover{background: #cecece}
.main-content .body-assignment .submit .form-submit #listF .f{margin-bottom:5px}
.main-content .body-assignment .submit .form-submit #listF .f i{margin-right:5px;}
.main-content .body-assignment .submit .form-submit #listF .f i.r{color:#c0c0c0;margin-left:20px}
.main-content .body-assignment .submit .form-submit #listF .f i.r:hover{color:#808080;}
.main-content .body-assignment .submit .form-submit #listF .f i.red{color:red}
.main-content .body-assignment .submit .form-submit #listF .f i.blue{color:blue}

.main-content .body-groups .wrapper{margin-top:20px}
.main-content .body-groups .wrapper .group{display: flex;border-bottom:1px dotted #c0c0c0;margin-top:5px}
.main-content .body-groups .wrapper .group .ct{flex-grow: 1}
.main-content .body-groups .wrapper .group .ct .n{display: flex}
.main-content .body-groups .wrapper .group .ct .n i{margin-right: 5px;margin-top:5px}
.main-content .body-groups .wrapper .group .ct .n .name{flex-grow: 1;margin-right:5px}
.main-content .body-groups .wrapper .group .ct .members{padding-left:13px;margin-top:5px}
.main-content .body-groups .wrapper .group .ct .members label{color:#4f4fff;font-size: 12px;margin-bottom: 2px}
.main-content .body-groups .wrapper .group .ct .members label:hover{color:blue}
.main-content .body-groups .wrapper .group>i{margin-top:3px}
.main-content .body-groups .wrapper .group>i.active{color:red}
.main-content .body-groups .wrapper .group .ct .members .r{color:#c0c0c0}
.main-content .body-groups .wrapper .group .ct .members .r:hover{color:#333}

.main-content .body-files .title{font-size: 1.5em;color:red;width: 100%;}
.main-content .body-files .ct {display: flex;margin-top: 10px;flex-wrap: wrap;}
.main-content .body-files .ct .item{flex-basis: 20%;padding:5px;display: flex;flex-direction: column;text-align: center}
.main-content .body-files .ct .item span{font-size: 12px}
.main-content .body-files .ct .item .n{font-size: 50px;}
.main-content .body-files .ct .item {color:#808080}
.main-content .body-files .ct .item :hover{filter:brightness(50%)}
.main-content .body-files .ct .item .red{color:red!important}
.main-content .body-files .ct .item .blue{color:blue!important}

.main-content .body-video .title{font-size: 1.5em;color:red;width: 100%;}
.main-content .body-video input[type='file']{display: none}
.main-content .body-video .note{font-size: 14px;font-style: italic;color:red}
.main-content .body-video .ct{margin-top: 10px}
.main-content .body-video .ct video{width: 100%;}
.main-content .body-video .control{margin-top: 20px;}
.main-content .body-video .control label{border:1px solid #fff;background: blue;padding:5px 10px;color:#c0c0c0;font-size: 14px;border-radius: 4px}
.main-content .body-video .control label:hover{color:white;background: #0000ea}
.main-content .body-video .question{padding:10px 0;border-top:1px dotted #c0c0c0;width:100%;font-size: 12px}
.main-content .body-video .question .time{font-size: 14px}
.main-content .body-video .question .time i{float:right}
.main-content .body-video .question .c .q{display: flex}
.main-content .body-video .question .c input[type='text']{flex-grow: 1;padding:5px;border:1px solid #c0c0c0;margin-top:5px;border-radius:4px}
.main-content .body-video .question .c .a{display: flex}
.main-content .body-video .question .c .a input{margin-left:5px}
.main-content .body-video .question .c .a input[type='checkbox']{margin-top:13px}
.main-content .body-video .question .c .a i[type='checkbox']{margin-top:13px}
.main-content .body-video .question button{margin-top:10px}
.main-content .body-video button.save{padding:5px 10px;border:1px solid #c0c0c0;color:white;background: #ff8000;position: absolute;right:20px;top:5px;border-radius: 4px}
.main-content .body-video table td{padding:2px 5px}

.main-content .body-video #question{display:flex;flex-direction:column;justify-content:center;background: black;z-index: -1;opacity:0;position: absolute;top:0;left:20px;color:white}
.main-content .body-video .active{z-index: 100000}
.main-content .body-video #question #q{text-align: center;margin-bottom:20px}
.main-content .body-video #question .la{display: flex;flex-wrap: wrap;}
.main-content .body-video #question .a{flex-basis: 50%;padding:10px;display: flex;}
.main-content .body-video #question .a input{font-size: 20px;margin-top:5px;margin-right:5px}
.main-content .body-video #question .c{justify-content: flex-end;}
.main-content .body-video #question .c input{margin-left:5px}
.main-content .body-video #question .a .n{margin-left:5px}
.main-content .body-video #question .w{color:#464646}
.main-content .body-video #question .t label{font-size:12px;position:absolute;top:10px;right:10px;padding:10px 5px;border-radius: 50%;border:3px solid white}
.main-content .body-video #question .re input{pointer-events:none;}
.main-content .body-video #question .re .w input{background: #464646}
.main-content .body-video #question .r{position: absolute;top:20px;width: 100%;text-align: center;font-size: 18px}

.main-content .body-videos .title{font-size: 1.5em;color:red;width: 100%;}
.main-content .body-videos .ct{flex-wrap: wrap;width: 100%;display: flex;margin-top:10px}
.main-content .body-videos .ct .video{flex-basis:33%;text-align: center;padding:5px}
.main-content .body-videos .ct .video video{height: auto;width: 100%;border:1px solid #c0c0c0}



.main-content .body-progress .title span{font-size: 1.5em; color:red}
.main-content .body-progress table{margin-top: 10px}
.main-content .body-progress table tr{display: flex;}
.main-content .body-progress table th{padding:5px 0}
.main-content .body-progress table td{padding:5px 0;cursor: pointer;-webkit-line-clamp: 1;}
.main-content .body-progress table .name{flex-basis:40%;}
.main-content .body-progress table .post{flex-basis:20%;}
.main-content .body-progress table .video{flex-basis:20%;}
.main-content .body-progress table .assignment{flex-basis:20%;}

.main-content .body-progress .ts{margin-top:20px;font-size: 18px;color:red}
.main-content .body-progress .v{display: flex;margin-top:10px;border-bottom:1px dotted #333}
.main-content .body-progress .v>span{flex-basis: 25%;-webkit-line-clamp: 1;}
.main-content .body-progress .v .grap{display:flex;justify-content:center;border-radius:12px;overflow:hidden;flex-grow: 1;flex-basis:60%;height:12px;background: #808080;position: relative;margin:8px 10px}
.main-content .body-progress .v .grap .c{position: absolute;top:0;left:0;background: #ff8000;border-radius:12px;height: 12px}
.main-content .body-progress .v .grap .p{font-size: 10px;}
.main-content .body-progress table .timeEnd{flex-basis: 30%}
.main-content .body-progress table .status{flex-basis: 30%}















