*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #E4E4E4;margin: 0;}
a{text-decoration: none}
.ellipsis{overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;}

header{position:fixed;top:0;line-height:60px;background-color: #fff;width: 100%;color:#ffffff;box-shadow: 0 2px 5px rgba(0,0,0,0.4);z-index:100;}
header .top-header{font-weight:normal;}
header a{font-weight: bold;text-decoration: none!important;color:#ff8000}

header .top-header .logo{float:left;font-size:24px;text-decoration: none;color:#ff0000}
header .top-header .logo:hover{color:#ff0000!important}
header .top-header .logo i{font-size: 1.5em;}
header .top-header .logo span{margin-left: 10px;}
header .top-header .ar{display: flex;justify-content: flex-end;}
header .top-header .ar .search{flex-grow:1;justify-content: flex-start;margin-left:40px;}
header .top-header .ar .search form{line-height:1.3em;margin-top: 0.8em}
header .top-header .ar .search input{color:#666666;width:70%;flex-grow:1;border:1px solid #c0c0c0;padding:5px 10px;font-size:13px;border-radius:8px}
header .top-header .ar .search input:focus{outline:none;border-color:#808080}

header .top-header .m{display:flex;justify-content: flex-end;padding: 0}
header .top-header .m div{float:right;margin-left:15px}
header .top-header .m .menu{margin-right:10px;}
header .top-header .m a{padding:5px 10px;font-size:18px}
header .top-header .m .menu a{position: relative;-webkit-transition: color 0.5s;transition: color 0.5s;}
header .top-header .m .menu a:hover{color:#fff;}
header .top-header .m .menu a span.b{display: inline-block;z-index: -1;width: 100%;height: 100%;position: absolute;top:-80px;left: 0;
-webkit-transition: top 0.5s;transition: top 0.5s;background: #ff8000}
header .top-header .m .menu a:hover span.b{top:0}
header .top-header .m .mail{font-size:14px;margin-top:0.75em;margin-right:10px;margin-left:25px;color:#808080}
header .top-header .m .mail table td{padding:0 3px;line-height:1.5em}
header .top-header .m .language{padding-top:1.5em }
header .top-header .m .language a{padding:0 5px;font-size:16px;float:left;display: inline-block;line-height: 1em;color:#5b5b5b}
header .top-header .m .language a:hover{color:#d70000}
header .top-header .m .language a:nth-child(1){border-right:2px solid #000}
header .top-header .m .language a.active{color:#d70000!important}

.bt-user {line-height:1.4em;min-width:105px;position:absolute;right:0px;top:61px;padding:2px 10px;box-shadow: 0 2px 5px rgba(0,0,0,0.5);background:#000000;color:#fff}
.bt-user span{font-size:14px;cursor:pointer;}
.bt-user span.b{border-right:2px solid #c0c0c0;padding-right:3px;margin-right:6px}
.bt-user .trig{position: absolute;left:-26px;top:0;display: inline-block;border:13px solid #000;border-left-color:transparent;border-bottom-color:transparent}
.bt-user i.icon{font-size: 1.2em;margin-right: 5px;margin-top: 2px}
#myModalAuth{position: absolute;top:30px;right:0;background: #000;padding:10px;text-align: right;font-size: 14px;font-weight: normal}
#myModalAuth p{margin-bottom: 0;}
#myModalAuth p a{text-decoration: none;color:#fff;padding:5px 10px;display: inline-block;}
#myModalAuth p a:hover{color:red}
@media only screen and (max-width: 980px){
	header .top-header .m .mail{display: none}
}



