#pn-menu{position: fixed;bottom:0px;height:80px;width:100%;}
#pn-menu .ch{z-index:10;position: absolute;bottom:35px;left:40px;width:200px;text-align: left;font-size: 12px;color:#c0c0c0}
#pn-menu .ch input{vertical-align: middle;margin-top: -1px;z-index: 10}
#pn-menu #list-menu{z-index:0;position:absolute;bottom:10px;width:100%;text-align: center;width:100%;font-size:10px;justify-content: center;display: flex}
#pn-menu #list-menu td{padding:5px}
#pn-menu #list-menu a{display:flex;justify-content:center;flex-direction:column;border:1px solid #c0c0c0;margin:5px 10px;text-decoration:none;color:#000;width: 50px;height:50px;line-height:47px;background:#ff8040;border-radius:50%;box-shadow:0 2px 5px rgba(0,0,0,0.2)}
#pn-menu #list-menu a span{display: inline-block;line-height: 1em;}
#pn-menu #list-menu a:hover{width: 60px;margin:0 5px;height:60px;font-size: 14px;color:white}


.calendar{z-index: 10}
.calendar input{display: none;width: 0;height: 0}
.calendar .picker{position: relative;}
.calendar .picker__holder{max-height:150px!important;position:relative;font-size: 10px;border:1px solid #c0c0c0;overflow: hidden;border-radius: 0;box-shadow: 0 0 2px rgba(0,0,0,0.2)}
.calendar .picker__header{margin: 0 -1em;padding:6px;font-size: 12px;border-bottom:1px solid #c0c0c0;}
.calendar .picker__nav--next{right:-0;top:2px}
.calendar .picker__nav--prev{left:-0;top:2px}

.announce{border:1px solid #000}
.announce announce-title{border-bottom:1px solid #000}