.col-right{width:100%;z-index:11;position:fixed;right:0;display:flex;flex-direction:column;height: 100vh;background:#fff;box-sizing: border-box;padding-top:70px;box-shadow: -2px 0 5px rgba(0,0,0,0.1)}
#content-info{background:#d8d8d8;flex-grow: 1;margin:0 -15px;margin-top: 10px;display: flex;flex-direction: column;}
#content-info .tab-menu{font-weight: bold;color:#919191;z-index:20;margin:0;background:#c0c0c0;height: 40px;line-height: 40px;text-align: center;}
#content-info .tab-menu span:hover{color:#ffffff!important;}
#content-info .tab-menu span i{position: relative;}
#content-info .tab-menu span.active{color:#bb0000!important;}
#content-info .tab-menu span.h{color:white;position: absolute;right:-3px;font-size: 8px;top:-5px;padding:2px;background: blue}
#content-info .view-all{font-size: 12px;text-align: center;margin-bottom:5px}
#content-info .title{position:relative;margin:0 0px;background:#bb0000;text-align: center;padding:8px;font-weight: bold;color:#ffffff;border-bottom:2px solid transparent}
#content-info .title i{position: absolute;top:0.9em;left:10px}
#content-info #content{flex-grow: 1;padding-left:1px;position: relative;overflow-x:hidden }
#content-info #content .item-notify{font-size: 12px;margin:1px 5px;margin-left:0;background:#f4f4f4;padding:5px}
#content-info #content .item-notify:hover{background: #fff;}
#content-info #content .item-notify.r{background: #fff;color:#838383}
#content-info #content .item-notify.r a{color:#939393!important}
#content-info #content .item-notify:hover a{color:#939393!important}
#content-info #content .item-notify a{color:#a8a8a8;-webkit-line-clamp: 3;}
#content-info #content .item-notify a:hover{text-decoration: none}
#content-info #content::-webkit-scrollbar 			  {width: 8px;}
#content-info #content::-webkit-scrollbar-track  { background: transparent;border-radius:10px;}
#content-info #content::-webkit-scrollbar-thumb        {background: rgba(0,0,0,0.2);border-radius: 10px;}
#content-info #content .message{color:#808080; background-color: #f9f9f9; border-bottom:1px solid #c7c7c7;padding:5px;display: flex;font-size: 12px;}
#content-info #content .message img{max-width: 40px;max-height: 40px;border-radius:50%;;border:1px solid #f7f7f7}
#content-info #content .message .info{margin-left: 10px}
#content-info #content .message:hover{cursor: pointer;}
#content-info #content .message .info .name{font-weight: bold}
#content-info #content .message .info .b{color:black!important;font-weight: bold!important}
#content-info #content .message .info .msg{color:#808080;-webkit-line-clamp: 1;}
#content-info #content .item-event{cursor:pointer;color:#808080;background:#f7f7f7;border-bottom:1px solid #c7c7c7;padding:5px;margin-right:5px;font-size: 12px;}
#content-info #content .item-event:hover{background: #f3f3f3}
#content-info #content .item-event .info{-webkit-line-clamp: 1;}
#content-info #content .empty{width: 100%;height: 100%;text-align: center;margin-top:20px;color:#c0c0c0;font-size: 16px}

#content-info #content .message-detail{background:#ffffff;font-size: 12px;flex-direction:column;display: flex;flex-grow: 1}
#content-info #content .message-detail .detail{height:200px;overflow-x: hidden;overflow-y:auto;flex-grow: 1}
#content-info #content .message-detail .detail::-webkit-scrollbar 			  {width: 8px;}
#content-info #content .message-detail .detail::-webkit-scrollbar-track  { background: transparent;border-radius:10px;}
#content-info #content .message-detail .detail::-webkit-scrollbar-thumb        {background: rgba(0,0,0,0.2);border-radius: 10px;}
#content-info #content .message-detail .input-text{flex-shrink:0;width:100%;bottom:2px;padding:3px;border-top:1px solid #eee}
#content-info #content .message-detail .input-text textarea{width:100%;flex-grow: 1;max-height: 200px;resize: none;border:none;background: transparent}
#content-info #content .message-detail .input-text textarea:focus{outline:none}
#content-info #content .message-detail .input-text textarea::-webkit-input-placeholder {
    color: #c0c0c0;
}
#content-info #content .message-detail .input-text textarea:-moz-placeholder {
    /* FF 4-18 */
    color: #c0c0c0;
}
#content-info #content .message-detail .input-text textarea::-moz-placeholder {
    /* FF 19+ */
    color: #c0c0c0;
}
#content-info #content .message-detail .input-text textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #c0c0c0;
}
#content-info #content .message-detail .msg{}
#content-info #content .message-detail .msg table{width: 100%}
#content-info #content .message-detail .msg table tr{display: flex;justify-content: flex-end;}
#content-info #content .message-detail .msg img{width:25px;height:25px;border-radius: 50%}
#content-info #content .message-detail .msg td{padding:5px;vertical-align: top;}
#content-info #content .message-detail .msg td.t{padding:5px 0;padding-top:10px;padding-left:30px;flex-grow: 1;text-align: right}
#content-info #content .message-detail .msg span{text-align:left;background:#c0c0c0;color:#292929;border-radius:1em;padding:3px 5px;border-top-right-radius:0;display: inline-block;}
#content-info #content .message-detail .me span{background: #0000ff;color:white;border-radius:1em;border-top-left-radius:0;}
#content-info #content .message-detail .me td.t{text-align: left;padding-right:30px;padding-left:0}
#content-info #content .message-detail .me tr{justify-content: flex-start;}

#modalChatMsg .search{width: 100%;}
#modalChatMsg .search input{width:100%;border:1px solid #888;border-radius:4px}
#modalChatMsg table td{vertical-align: top;padding:10px 5px}
#modalChatMsg table td{text-align: left}
#modalChatMsg textarea{resize: none;}
#modalChatMsg .search{width:100%;position: relative;margin-top:10px}
#modalChatMsg .search input{z-index:10;width:100%;border:1px solid #c0c0c0;padding:5px 10px;border-radius:4px}
#modalChatMsg .search .pl{display: inline-block;pointer-events:none;position: absolute;width:100%;top:0;left:0;padding:6px 10px}
#modalChatMsg .search .result{z-index:10;background:white;position: absolute;top:31px;left:0;width:100%;padding:5px 0px;border:1px solid #c0c0c0}
#modalChatMsg .search .result>div{padding:0 10px}
#modalChatMsg .search .result .r{background: #eaeaff}
#modalChatMsg .sum{margin-top:10px;width:100%;}
#modalChatMsg .sum .r{float:right;margin-top:3px}
#modalChatMsg .email{width: 100%;}
#modalChatMsg .email i{float:right;margin-top:3px}
#modalChatMsg .modal-footer button{padding:5px 10px;border:1px solid #c0c0c0}

