#form-hoso{display: flex;width: 100%;justify-content: center;position: relative;}
#form-hoso form{max-width: 400px;width:100%;text-align: left;}
#form-hoso #viewAvatar{position: absolute;top:80px;left:0;max-width: 200px;max-height: 200px;border:1px solid #fff;display: none}
#form-hoso .form-group{position: relative;}
#form-hoso #closeAvatar{position: absolute;right:5px;bottom:8px;border:none;background: transparent}
#form-hoso #closeAvatar:hover{color:red;}