#avatar{width:150px;height:150px;border:1px solid #333;margin:0 auto}
.body-profile{margin-top:100px;padding-bottom:150px}
.body-profile input[type='file']{display: none}
.change label{padding:5px 10px;color:white;background: blue;font-size: 12px;margin-top: 10px}
.avatar{display: flex;flex-direction: column;flex-basis: 30%;text-align: center;justify-content: center}
.ct{flex-grow: 1;margin-top:30px}
.ct input{width: 70%}
.bor{margin-top:20px;border-top:1px dotted #222;width: 100%}

.list-alias{margin-top:20px;border-bottom:1px dotted #222;padding-bottom:20px}
.list-alias .title{font-size: 18px;color:red;margin-bottom: 15px}
.list-alias .alias{display: flex}
.list-alias .alias .course{flex-basis: 50%;margin-right: 20px}
.list-alias .alias .name{flex-grow: 1;margin-right:10px}
.r{color:red}