<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">


<div th:replace="user/layout/layout :: head"></div>

<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<script type="text/x-template" id="template-table">
<table class="table table-hover">
							<thead>
								<tr>
									<th class='title ellipsis' data-th-text="#{course.assignments.title.title}"></th>
									<th class='created_at' data-th-text="#{course.assignments.title.createdAt}"></th>
									<th class='timeEnd' data-th-text="#{course.assignments.title.timeEnd}"></th>
									<th class='detail'></th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="a in list" v-if="isVisible(a)">
									<td class="title ellipsis">{{a.title}}</td>
									<td class="created_at" v-text="getTime(a.createdAt)"></td>
									<td class="timeEnd" v-text="getTime(a.timeEnd)"></td>
									<td class="detail">
										<a v-bind:href="'/course/'+$parent.idCourse+'/assignment/'+a.id" v-text="detail"></a>
									</td>
								</tr>
							</tbody>
						</table>
</script>
<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-assignments" id="assignments">
					<div class="title">
						<span data-th-text="#{course.assignments.title}"></span>
						 <a data-th-if="${member.role=='admin'}"
							data-th-href="${'/course/'+course.id+'/assignments/create/page'}"
							data-th-text="#{course.lessons.create.assignment}"></a>
					</div>
					<div class="wrapper admin">
						<div class="toggle">
							 <label
								class="switch"> <input type="checkbox"
								v-model="isFinish" v-on:click="toggleFilter()" /> <span
								class="slider round"></span>
							</label>
							<span v-text="isFinish?finish:unfinish" class="t"></span>
						</div>
						<div class="ct">
							<my_table :list="list" :detail="title.detail"></my_table>
						</div>
						<div class="modal fade" id="modalCreateLesson">
							<div class="modal-dialog">
								<div class="modal-content">

									<div class="modal-body">
										<input type="text" id="ip-name" placeholder="Enter name ..." />
									</div>
									<!-- Modal footer -->
									<div class="modal-footer">
										<button v-on:click="createLesson()" class="s"
											data-th-text="#{course.lessons.save}"></button>
										<button type="button" data-dismiss="modal"
											data-th-text="#{course.lessons.cancel}"></button>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<script data-th-src="@{/custom/js/course.js}"></script>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/assignments.js}"></script>

	<script th:inline="javascript">
		var test={
				idCourse:[[${course.id}]],
				finish:[[#{course.assignments.finish}]],
				unfinish:[[#{course.assignments.unfinish}]],
				title:{
					title:[[#{course.assignments.title.title}]],
					createdAt:[[#{course.assignments.title.createdAt}]],
					timeEnd:[[#{course.assignments.title.timeEnd}]],
					detail:[[#{course.assignments.title.detail}]],
				}
		}
	</script>
</body>
<!-- <script>
window.addEventListener("beforeunload", function (e) {
	  var confirmationMessage = "\o/";
	  (e || window.event).returnValue = confirmationMessage; //Gecko + IE
	  return confirmationMessage;                            //Webkit, Safari, Chrome
	});
</script> -->
</html>
