<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">


<div th:replace="user/layout/layout :: head"></div>

<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-files" id="files">
					<div class="file-lesson">
						<div class="title" data-th-text="#{course.files.document.title.lesson}"></div>
						<div class="ct">
							<a class="item" v-for="f in fileLessons" v-bind:href="'/custom/document/'+f.name">
								<span v-html="getIcon(f.rawName)" class="n"></span>
								<span class="name ellipsis" v-text="f.rawName"></span>
							</a>
						</div>
					</div>
					<div class="file-other">
						<div class="title" data-th-text="#{course.files.document.title.other}"></div>
						<div class="ct">
							<a class="item" v-for="f in files" v-bind:href="'/custom/document/'+f.name">
								<span v-html="getIcon(f.rawName)" class="n"></span>
								<span class="name ellipsis" v-text="f.rawName"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<script data-th-src="@{/custom/js/course.js}"></script>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/files.js}"></script>
	<script th:inline="javascript">
		var test = {
						fileLessons:[[${fileLessons}]],
						files:[[${fileOthers}]]
		}
		console.log(test.files);
		console.log(test.fileLessons);
	</script>
</body>
<!-- <script>
window.addEventListener("beforeunload", function (e) {
	  var confirmationMessage = "\o/";
	  (e || window.event).returnValue = confirmationMessage; //Gecko + IE
	  return confirmationMessage;                            //Webkit, Safari, Chrome
	});
</script> -->
</html>
