<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<div th:replace="user/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<script data-th-if="${member.role!='admin'}" type="text/x-template"
	id="table-template">
	<table class="table table-hover">
	<thead>
		<tr>
			<th class='avatar'></th>
			<th class='name'>{{this.$parent.title.name}}</th>
			<th class='email'>Email</th>
			<th class='msg'>{{this.$parent.title.msg}}</th>
		</tr>
	</thead>
	<tbody>
		<tr v-if="!$parent.isFilter" v-for="member in this.$parent.currentArr">
			<td class="avatar"><img :src="'/custom/img/'+member.member.avatar" alt="" /></td>
			<td class="name ellipsis">{{member.alias}}</td>
			<td class="email ellipsis">{{member.member.email}}</td>
			<td class="msg" v-on:click="openChat(member)"><i class="fa fa-envelope-o" aria-hidden="true" ></i></td>
		</tr>
		<tr v-if="$parent.isFilter" v-for="member in this.$parent.listResultFilter">
			<td class="avatar"><img :src="'/custom/img/'+member.member.avatar" alt="" /></td>
			<td class="name">{{member.alias}}</td>
			<td class="email">{{member.member.email}}</td>
			<td class="msg" v-on:click="openChat(member)"><i class="fa fa-envelope-o" aria-hidden="true" ></i></td>
		</tr>
	</tbody>
	</table>
</script>
<script data-th-if="${member.role=='admin'}" type="text/x-template"
	id="table-template">
	<table class="table table-hover admin">
	<thead>
		<tr>
			<th class='avatar'></th>
			<th class='name'>{{this.$parent.title.name}}</th>
			<th class='email'>Email</th>
			<th class='msg'>{{this.$parent.title.msg}}</th>
			<th class='r'>{{this.$parent.title.remove}}</th>
		</tr>
	</thead>
	<tbody>
		<tr v-if="!$parent.isFilter" v-for="member in this.$parent.currentArr">
			<td class="avatar"><img :src="'/custom/img/'+member.member.avatar" alt="" /></td>
			<td class="name ellipsis">{{member.alias}}</td>
			<td class="email ellipsis">{{member.member.email}}</td>
			<td class="msg" v-on:click="openChat(member)"><i class="fa fa-envelope-o" aria-hidden="true" ></i></td>
			<td class="r" ><i class="fa fa-trash-o" aria-hidden="true" v-on:click="deleteMember(member)"></i></td>
		</tr>
		<tr v-if="$parent.isFilter" v-for="member in this.$parent.listResultFilter">
			<td class="avatar"><img :src="'/custom/img/'+member.member.avatar" alt="" /></td>
			<td class="name">{{member.alias}}</td>
			<td class="email">{{member.member.email}}</td>
			<td class="msg" v-on:click="openChat(member)"><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
			<td class="r" ><i class="fa fa-trash-o" aria-hidden="true" v-on:click="deleteMember(member)"></i></td>	
		</tr>
	</tbody>
	</table>
</script>

<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content" id="listCourses">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-members" id="body_members">
					<div class="info">
						<span data-th-text="#{course.members.total}"></span> <span
							data-th-text="${total}"></span> <input v-on:keyup="onChange()"
							type="text" name="" id="input-search"
							data-th-attr="placeholder=#{search.placeholder}" />
						<button data-th-text="#{course.members.add}" type="button" data-th-if="${member.role=='admin'}"
							class="btn btn-primary" data-toggle="modal"
							data-target="#modalAddMember"></button>
					</div>
					<mytable></mytable>
					<div class="nav" v-if="!isFilter">
						<a v-on:click="onLoadMore(p)"
							v-bind:class="{active:(p==currentPage?true:false)}" v-text="p"
							v-for="p in pages"></a>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modalAddMember">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="search">
								<span v-text="tempEmail.email" class="pl"></span> <input
									type="search" name="" id="ip-add" v-on:keyup="onKeyUp($event)"
									v-on:keydown.13.exact.prevent="addEmail()" />
								<div class="result" v-if="arrResult.length>0">
									<div v-for="(i,index) in arrResult"
										v-bind:class="{'r':current==index}" v-text="i.email"></div>
								</div>
							</div>

							<div class="sum">
								<span data-th-text="#{course.members.add.member}"></span> <span
									v-text="arr.length"></span> <i class="fa fa-trash r"
									aria-hidden="true" v-on:click="clearAll()"></i>
							</div>
						</div>
						<div class="modal-body">
							<div class="email" v-for="(e,index) in arr">
								<span class="n" v-text="e.email"></span> <i class="fa fa-trash"
									aria-hidden="true" v-on:click="remove(index)"></i>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" v-on:click="save()"
								th:text="#{course.members.add.save}"></button>
							<button type="button" v-on:click="hide()"
								th:text="#{course.members.add.cancel}"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modalChat">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title center"
								data-th-text="#{course.members.message}"></h4>
							<button type="button" class="close" v-on:click="closeModal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<table>
								<tr>
									<td data-th-text="#{course.members.message.to}"></td>
									<td v-if="to==null?false:true"><span v-text="to.alias"></span>
										<span v-text="'('+to.member.email+')'"></span></td>
								</tr>
								<tr>
									<td data-th-text="#{course.members.message.msg}"></td>
									<td><textarea id="msg" rows="4" cols="50"
											v-model="content"></textarea></td>
								</tr>
								<tr>
									<td></td>
									<td>
										<button type="button" v-on:click="sendMessage"
											class="btn btn-primary"
											data-th-text="#{course.members.message.send}"></button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/course_members.js}"></script>
	<script data-th-src="@{/custom/js/course.js}"></script>
	<script th:inline="javascript">
		var pages=[[${pages}]];
		var idCourse=[[${course.id}]];
		var title={
				avatar:[[#{course.members.avatar}]],
				name:[[#{course.members.name}]],
				msg:[[#{course.members.message}]],
				remove:[[#{course.members.remove}]]
		}
	</script>
</body>
</html>
