<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<div th:replace="user/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-posts" id="body_posts">
					<div class="modal fade" id="modalPost">
						<div class="modal-dialog">
							<div class="modal-content">
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title"
										data-th-text="#{course.posts.create.new.title}"></h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">
									<form id="formModal" enctype="multipart/form-data">
										<table>
											<tr>
												<td data-th-text="#{course.posts.create.title}"></td>
												<td><input name="titleModal" id="titleModal" /></td>
											</tr>
											<tr>
												<td data-th-text="#{course.members.message.msg}"></td>
												<td><textarea name="" id="textModal" rows="10"></textarea></td>
											</tr>
										</table>

										<div class="content">
											<span data-th-text="#{course.posts.create.new.file}"></span>
											<input type="file" name="" id="ipModal"
												onchange="onChangeFilePost()" />
										</div>
										<div id="listFile"></div>
									</form>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<button class="btn"
										data-th-text="#{course.posts.create.new.post}"
										v-on:click="sendTopic()"></button>
								</div>

							</div>
						</div>
					</div>
					<h4>
						<span data-th-text="#{course.posts.title}"></span>
						<button type="button" class="bt bt-primary" data-toggle="modal"
								data-target="#modalPost"
							data-th-text="#{course.posts.create}"></button>
					</h4>
					<div class="topic" v-for="topic in posts">
						<img th:src="@{/custom/img/pin-icon.gif}" alt="icon" />
						<div style="flex-grow: 1">
							<div class="setting"></div>
							<a v-bind:href="'/course/'+idCourse+'/forum/'+topic.id"
								v-bind:class="{'title ellipsis':true,'pin':(topic.priority>0)}">
								<span v-text="topic.title"></span>
							</a>
							<div class="info">
								<div class="author">
									<span data-th-text="#{course.posts.post_by}"></span><span
										v-text="topic.creator.alias"></span>
								</div>
								<div class="time">
									<span><i class="fa fa-clock-o" aria-hidden="true"></i></span><span
										v-text="formatDate(topic.createdAt)"></span>
								</div>
								<div class="comments">
									<span><i class="fa fa-commenting-o" aria-hidden="true"></i></span>
									<span v-text="topic.numsComment"></span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/course_posts.js}"></script>
<script data-th-src="@{/custom/js/course.js}"></script>
	<script th:inline="javascript">
		var test={
				idCourse:[[${course.id}]],
				posts:[[${posts}]]
		}
	</script>
</body>
</html>
