<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<div th:replace="user/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-post" id="body_post">
					<div class="modal fade" id="modalPost">
						<div class="modal-dialog">
							<div class="modal-content">
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title"
										data-th-text="#{course.posts.create.new.title}"></h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">
									<form id="formModal" enctype="multipart/form-data">
										<table>
											<tr>
												<td data-th-text="#{course.members.message.msg}"></td>
												<td><textarea name="" id="textModal" rows="10"></textarea></td>
											</tr>
										</table>

										<div class="content">
											<span data-th-text="#{course.posts.create.new.file}"></span>
											<input type="file" name="" id="ipModal"
												onchange="onChangeFilePost()" />
										</div>
										<div id="listFile"></div>
									</form>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<button class="btn"
										data-th-text="#{course.posts.create.new.post}"
										v-on:click="sendPost()"></button>
								</div>

							</div>
						</div>
					</div>
					<div class="modal fade" id="modalEdit">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title"
										data-th-text="#{course.posts.title.edit}"></h4>
									<button type="button" class="close" v-on:click="hideEditPost()">&times;</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">
									<form id="formEdit" enctype="multipart/form-data">
										<table>
											<tr v-if="postEdit.title">
												<td data-th-text="#{course.posts.create.title}"></td>
												<td><input name="titleModal" id="titleModal"
													v-model="postEdit.title" /></td>
											</tr>
											<tr>
												<td data-th-text="#{course.members.message.msg}"></td>
												<td><textarea name="" id="textModal" rows="10"
														v-model="postEdit.editcontent"></textarea></td>
											</tr>
										</table>

										<div class="content">
											<span data-th-text="#{course.posts.create.new.file}"></span>
											<input type="file" name="" id="ipModalEdit"
												onchange="onChangeFilePostEdit()" />
										</div>
										<div id="listFileEdit">
											<div class='f' v-for="(f,index) in postEdit.files"
												v-if="!f.isDelete">
												<span class='icon'><i class='fa fa-file-text-o'
													aria-hidden='true'></i><span v-text="f.rawName"></span></span> <i
													class='fa fa-times r' aria-hidden='true'
													v-on:click='remove($event,index)'></i>
											</div>
										</div>
									</form>
								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									<button class="btn"
										data-th-text="#{course.posts.title.edit.save}"
										v-on:click="saveEdit()"></button>
								</div>

							</div>
						</div>
					</div>

					<div class="topic">
						<div class="title">
							<span data-th-text="#{course.posts.title.short}" class="c"></span>
							<span v-text="post.title" class="t"></span>
							<span class="edit"
								data-th-if="${(user.id==post.creator.member.id)||(member.role=='admin')}">
								<i class="fa fa-pencil-square-o" v-on:click="editPost()"
								aria-hidden="true"></i> <i data-th-if="${member.role=='admin'}" v-on:click="deletePost()"
								class="fa fa-trash-o" aria-hidden="true"></i>
							</span>
							<span class="edit" data-th-if="${member.role=='admin'}"><i v-bind:class="{'fa fa-thumb-tack':true,'pin': (post.priority>0)}" v-on:click="togglePin()" aria-hidden="true"></i>
							</span>
							<button type="button" class="bt" data-toggle="modal"
								data-target="#modalPost"
								data-th-text="#{course.posts.create.short}"></button>
						</div>
						<div class="author">
							<span class="name" v-text="'- '+post.creator.alias"></span> <span><i
								class="fa fa-clock-o"></i></span> <span class="time"
								v-text="formatDate(post.createdAt)"></span>
						</div>
						<div class="content-topic">
							<div class="t" v-html="post.content"></div>
							<div class="f">
								<div v-for="d in post.files" v-on:click="downloadFile(d)">
									<span v-html="getImageFile(d.rawName)"></span> <span
										v-text="d.rawName"></span>
								</div>
							</div>
						</div>
						<div class="line"></div>
					</div>
					<div class="posts">
						<div class="post" v-for="(p,index) in post.comments" v-bind:id="'post'+p.id">
							<div class="avatar">
								<img v-bind:src="'/custom/img/'+p.creator.member.avatar" alt="" />
							</div>
							<div class="ct">
								<div>
									<span class="n" v-text="p.creator.alias"></span><span class="t"
										v-text="'- '+formatDate(p.createdAt)"></span> <span
										class="edit"
										v-if="(member.id==p.creator.id)||(member.role=='admin')">
										<i class="fa fa-pencil-square-o" v-on:click="editPost(p)"
										aria-hidden="true"></i> <i v-on:click="deletePost(p)"
										class="fa fa-trash-o" aria-hidden="true"></i>
									</span>
								</div>

								<div class="c" v-html="p.content">></div>
								<div class="f">
									<div v-for="d in p.files" v-on:click="downloadFile(d)">
										<span v-html="getImageFile(d.rawName)"></span> <span
											v-text="d.rawName"></span>
									</div>
								</div>
								<div class="option">
									<div class="comment">
										<span><i v-on:click="openComment(index)"
											class="fa fa-commenting-o" aria-hidden="true"></i></span> <span
											v-text="p.numsComment?p.numsComment:0"></span>
									</div>
								</div>
								<div class="subcomments" v-bind:id="'comments-post-'+index">
									<div v-if="p.comments" class="list" v-bind:id="'list'+index" v-on:scroll="onHandleScrollContentComment(index)"
										v-bind:style="{'max-height':fixHeight(index)}">
										<div class="subcomment post"
											v-for="c in getSubCommentRender(index)" v-bind:id="'comment'+c.id">
											<div class="avatar">
												<img v-bind:src="'/custom/img/'+c.creator.member.avatar"
													alt="" />
											</div>
											<div class="ct">
												<div>
													<span class="n" v-text="c.creator.alias"></span><span
														class="t" v-text="'- '+formatDate(c.createdAt)"></span> <span
														class="edit"
														v-if="(member.id==c.creator.id)||(member.role=='admin')">
														<i class="fa fa-pencil-square-o" v-on:click="editPost(c)"
														aria-hidden="true"></i> <i v-on:click="deletePost(c)"
														class="fa fa-trash-o" aria-hidden="true"></i>
													</span>
												</div>
												<div class="c" v-html="c.content">></div>
												<div class="f">
													<div v-for="d in c.files" v-on:click="downloadFile(d)">
														<span v-html="getImageFile(d.rawName)"></span> <span
															v-text="d.rawName"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="input-comment">
										<form v-bind:id="'form'+index" enctype="multipart/form-data">
											<div class="ip">
												<textarea name="text" v-bind:id="'text'+index" row="2"
													v-on:keydown.13.exact.prevent="sendComment(index)"></textarea>
												<label v-bind:for="'files'+index" class="btn">File</label> <input
													type="file" name="" v-bind:id="'files'+index"
													v-on:change="onChangeFile(index)" />
											</div>
											<div class="listF" v-bind:id="'listF'+index"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/course_post.js}"></script>
	<script data-th-src="@{/custom/js/course.js}"></script>
	<script th:inline="javascript">
		var test={
			member:[[${member}]],
			post:[[${post}]],
			notify_idPost:[[${idPost_notification}]],
			notify_idComment:[[${idComment_notification}]],
		}
	</script>
</body>
</html>
