<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<div th:replace="user/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<script type="text/x-template" id="table-template">
<div>
	<table class="table table-hover">
	<thead>
		<tr>
			<th class='name'>{{this.$parent.title.name}}</th>
			<th class='post'>{{this.$parent.title.post}}</th>
			<th class='video'>{{this.$parent.title.video}}</th>
			<th class='assignment'>{{this.$parent.title.assignment}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="name ellipsis" v-text="currentMember.member.alias"></td>
			<td class="post ">{{currentMember.post}}</td>
			<td class="video ellipsis">{{currentMember.video}}</td>
			<td class="assignment">{{currentMember.assignment}}</td>
		</tr>
	</tbody>
	</table>
	<div>
	<div class="ts">
		<i class="fa fa-file-video-o"></i>
		<span>{{this.$parent.title.video}}</span>
	</div>
	<div class="v" v-for="(video,index) in currentMember.detail.videos">
		<span class="ellipsis">{{getNameVideo(video.rawName)}}</span>
		<div class="grap">
			<span class="p">{{currentMember.detail.percents[index]+'%'}}</span>
			<span class="c" v-bind:style="{width:currentMember.detail.percents[index]+'%'}"></span>
		</div>
	</div>
	<div class="ts">
		<i class="fa fa-pencil-square-o"></i>
		<span>{{this.$parent.title.assignment}}</span>
	</div>
	<table class="table table-hover">
	<thead>
		<tr>
			<th class='name'>{{this.$parent.title.name}}</th>
			<th class='timeEnd'>{{this.$parent.title.timeEnd}}</th>
			<th class='status'>{{this.$parent.title.status}}</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="(a,index) in currentMember.detail.assignments" v-on:click="openAssignment(a.id)">
			<td class="name ellipsis">{{a.title}}</td>
			<td class="timeEnd " v-text="formatDate(a.timeEnd)"></td>
			<td class="status" v-if="a.createdAt==0"></td>
			<td class="status" v-if="a.createdAt!=0" v-text="formatDate(a.createdAt)"></td>
		</tr>
	</tbody>
	</table>
	</div>
</div>
</script>


<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content" id="listCourses">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-progress" id="body-progress">
					<div class="title">
						<span th:text="#{course.progress.title}"></span>
					</div>
					<div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th class='name' data-th-text="#{course.progress.title.name}"></th>
									<th class='post' data-th-text="#{course.progress.title.posts}"></th>
									<th class='video' data-th-text="#{course.progress.title.video}"></th>
									<th class='assignment' data-th-text="#{course.progress.title.assignments}"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="name ellipsis" data-th-text="${member.alias}"></td>
									<td class="post " data-th-text="${post}"></td>
									<td class="video ellipsis" data-th-text="${p_videos}"></td>
									<td class="assignment" data-th-text="${p_assignments}"></td>
								</tr>
							</tbody>
						</table>
						<div>
							<div class="ts">
								<i class="fa fa-file-video-o" ></i> <span data-th-text="#{course.progress.title.video}"></span>
							</div>
							<div class="v"
								data-th-each="video,iter : ${videos}">
								<span class="ellipsis" data-th-text="${#strings.arraySplit(video.rawName,'.')[0]}"></span>
								<div class="grap">
									<span class="p"  data-th-text="${percents[iter.index]+'%'}"></span>
									<span class="c"
										data-th-attr="style=${'width:'+percents[iter.index]+'%'}"></span>
								</div>
							</div>
							<div class="ts">
								<i class="fa fa-pencil-square-o"></i> <span  data-th-text="#{course.progress.title.assignments}"></span>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<th class='name' data-th-text="#{course.progress.title.name}"></th>
										<th class='timeEnd' data-th-text="#{course.assignments.title.timeEnd}"></th>
										<th class='status' data-th-text="#{course.progress.title.submit}"></th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="a,iter : ${assignments}">
										<td class="name ellipsis"><a  data-th-href="@{'/course/'+${course.id}+'/assignment/'+${a.id}}" data-th-text="${a.title}"></a></td>
										<td class="timeEnd " data-th-text="${#dates.format(new java.util.Date(a.timeEnd),'hh:mm dd-MM-yyyy')}"></td>
										<td class="status" data-th-if="${a.createdAt==0}"></td>
										<td class="status" data-th-if="${a.createdAt!=0}"
											data-th-text="${#dates.format(new java.util.Date(a.createdAt),'hh:mm dd-MM-yyyy')}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/course.js}"></script>
	<script th:inline="javascript">
		console.log([[${videos}]])
	</script>
</body>
</html>
