<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<div th:replace="user/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<script  type="text/x-template"
	id="table-template">
	<table class="table table-hover">
	<thead>
		<tr>
			<th class='name'>{{this.$parent.title.name}}</th>
			<th class='post'>{{this.$parent.title.post}}</th>
			<th class='video'>{{this.$parent.title.video}}</th>
			<th class='assignment'>{{this.$parent.title.assignment}}</th>
		</tr>
	</thead>
	<tbody>
		<tr v-if="!$parent.isFilter" v-for="member in this.$parent.data">
			<td class="name ellipsis" v-text="member.member.alias"></td>
			<td class="post ">{{member.post}}</td>
			<td class="video ellipsis">{{member.video}}</td>
			<td class="assignment">{{member.assignment}}</td>
		</tr>
		<tr v-if="$parent.isFilter" v-for="member in this.$parent.listResultFilter">
			<td class="avatar"><img :src="'/custom/img/'+member.member.avatar" alt="" /></td>
			<td class="name">{{member.alias}}</td>
			<td class="email">{{member.member.email}}</td>
			<td class="msg" v-on:click="openChat(member)"><i class="fa fa-envelope-o" aria-hidden="true" ></i></td>
		</tr>
	</tbody>
	</table>
</script>


<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content" id="listCourses">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-progress" id="body-progress">
					<div class="title" style="margin-top:50px">
						<h4 style="color:#ddd;font-style:italic;width:100%;margin-top:50px;text-align: center" th:text="#{course.score.title}"></h4>
					</div>
					
				</div>
			</div>
			
			
		</div>

		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<div th:replace="user/layout/layout :: script"></div>
<!-- 	<script data-th-src="@{/custom/js/progress.js}"></script> -->
	<script data-th-src="@{/custom/js/course.js}"></script>
	<script th:inline="javascript">
// 		var idCourse=[[${course.id}]];
// 		var title={
// 				name:[[#{course.progress.title.name}]],
// 				post:[[#{course.progress.title.posts}]],
// 				video:[[#{course.progress.title.video}]],
// 				assignment:[[#{course.progress.title.assignments}]]
// 		}
	</script>
</body>
</html>
