<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">


<div th:replace="user/layout/layout :: head"></div>

<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-10 main-content">
			<div class="name" data-th-text="${course.name}"></div>
			<div class="row" style="position: relative">
				<div class="col-md-3">
					<div th:replace="user/layout/course::col-left"></div>
				</div>
				<div class="col-md-9 body body-video" id="video">
					<div class="title" data-th-text="#{course.video.title}"></div>
					<div class="note">
						*<span data-th-text="#{course.video.note}"></span>
					</div>
					<button class="save" v-on:click="save()" v-if="video!=null"
						data-th-text="#{course.lessons.save}"></button>
					<div style="margin-top: 10px; font-size: 12px;">
						<table>
							<tr>
								<td><span class="t"
									data-th-text="#{course.assignment.create.lesson}"></span></td>
								<td><select name="" id="" v-model="currentLesson">
										<option v-bind:value="index" v-for="(l,index) in lessons"
											v-text="l.name" ></option>
								</select></td>
							</tr>
						</table>
					</div>

				<div class="ct" id="ct"></div>
				<div class="control">
					<form id="formFile" enctype="multipart/form-data">
						<label v-if="video==null" for="files"
							data-th-text="#{course.video.add.video}"></label> <label
							v-if="video!=null" for="files"
							data-th-text="#{course.video.change.video}"></label> <input
							type="file" name="files" id="files"
							accept="video/mp4,video/x-m4v,video/*"
							v-on:change="addVideo($event)" /> <label v-if="video!=null"
							data-th-text="#{course.video.add.question}"
							v-on:click="addQuestion()"></label>
					</form>
				</div>
				<div id="listQuestion">
					<div class="question" v-for="(q,index) in list.questions">
						<div class="time">
							Time: <span v-text="getTime(list.times[index])"></span> <i
								class="fa fa-times" v-on:click="removeQuestion(index)"></i>
						</div>
						<div class="c">
							<div class="q">
								<input type="text" v-model="q.question"
									v-bind:id="'question'+index" />
							</div>
							<div class="a" v-for="(a,i) in q.answers">
								<input type="checkbox" v-model="a.true" /> <input type="text"
									v-model="a.answer" v-bind:id="'answer'+i" /> <i
									class="fa fa-times" v-on:click="removeAnswer(index,i)"></i>
							</div>
						</div>
						<button v-on:click="addAnswer(index)"
							data-th-text="#{course.members.add.answer}"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>
	<script data-th-src="@{/custom/js/course.js}"></script>
	<div th:replace="user/layout/layout :: script"></div>
	<script data-th-src="@{/custom/js/video_create.js}"></script>
	<script th:inline="javascript">
		var test = {
				idCourse:[[${course.id}]],
				idLesson:[[${idLesson}]],
		}
	</script>
</body>
<!-- <script>
window.addEventListener("beforeunload", function (e) {
	  var confirmationMessage = "\o/";
	  (e || window.event).returnValue = confirmationMessage; //Gecko + IE
	  return confirmationMessage;                            //Webkit, Safari, Chrome
	});
</script> -->
</html>
