<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
<link rel="stylesheet" th:href="@{/custom/css/allcourse.css}" />
</head>
<div th:replace="user/layout/layout :: head"></div>
<body>
	<div th:replace="user/layout/layout :: header"></div>
	<div class="content clearfix d-flex">
		<div class="col-md-1"></div>
		<div class="col-md-9 main-content" id="listCourses">
			<div class="info-search">
				<label data-th-text="#{allcourse.search}"></label>
				<div style="display: inline-block; position: relative;">
					<input type="search" name="" id="ip_search" />
					<div class="result" v-if="arr_result.length>0?true :false">
						<a v-for="r in arr_result" v-text="r.name"
							v-bind:href="'/course/'+r.id"></a>
					</div>

				</div>
				<button style="margin-left:50px" type="button" class="btn btn-primary"
					data-toggle="modal" data-target="#modalCreateCourse"
					th:if="${user.role=='teacher'}"
					data-th-text="#{course.create.course}"></button>
			</div>
			<div class="tab">
				<span data-th-text="#{allcourse.title.recently}"
					v-on:click="setCurrent(0)" v-bind:class="{active:current[0]}"></span>
				<span data-th-text="#{allcourse.title.current}"
					v-on:click="setCurrent(2)" v-bind:class="{active:current[2]}"></span>
				<span data-th-text="#{allcourse.title.coming}"
					v-on:click="setCurrent(1)" v-bind:class="{active:current[1]}"></span>
				<span data-th-text="#{allcourse.title.end}"
					v-on:click="setCurrent(3)" v-bind:class="{active:current[3]}"></span>
			</div>
			<div class="info-course">
				<div id="list-end">
					<div class="course col-md-3" v-for="c in courses_temp">
						<div class="mask">
							<a v-bind:href="'/course/'+c.id"></a> <img
								src="/custom/img/bkhn.png" alt="" />
							<div class="process">
								<span v-bind:style="{width:c.percent+'%'}"></span>
							</div>
							<div class="info">
								<p class="title ellipsis" v-text="c.name"></p>
								<div class="info-hover">
									<p class="time">
										<i class="fa fa-clock-o" aria-hidden="true"></i> {{c.time}}
									</p>
									<p class="clock">
										<i class="fa fa-hourglass-half" aria-hidden="true"></i>
										{{c.percent}}%
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modalCreateCourse">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<span data-th-text="#{course.create}"></span>
						</div>
						<div class="modal-body">
							<table class="table">
								<tr class="t">
									<td data-th-text="#{course.create.title}"></td>
									<td><input type="text" id="ip-name" v-model="course.name" /></td>
								</tr>
								<tr class="t">
									<td data-th-text="#{course.create.info}"></td>
									<td><textarea v-model="course.info" name="" id=""
											 rows="10"></textarea></td>
								</tr>
								<tr class="t">
									<td data-th-text="#{course.create.start}"></td>
									<td><input id="ip-dateS" type="text" />
										<span>-</span> <input id="ip-timeS" type="text" /></td>
								</tr>
								<tr class="t">
									<td data-th-text="#{course.create.end}"></td>
									<td><input id="ip-dateE" type="text"  />
										<span>-</span> <input id="ip-timeE" type="text" /></td>
								</tr>
							</table>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button v-on:click="createCourse()" class="s"
								data-th-text="#{course.lessons.save}"></button>
							<button type="button" data-dismiss="modal"
								data-th-text="#{course.lessons.cancel}"></button>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div th:replace="user/layout/layout :: pn_notification"></div>
	</div>
	<div th:replace="user/layout/layout :: menu"></div>

	<script th:inline="javascript">
		var courses=[[${courses}]];
		var recently=[[${user.lastCourse}]];
		function loadCourse(id){
			 window.location.assign("https://www.w3schools.com")
		}
	</script>
	<script data-th-src="@{/custom/js/allcourse.js}"></script>
	<div th:replace="user/layout/layout :: script"></div>
</body>
<!-- <script>
window.addEventListener("beforeunload", function (e) {
	  var confirmationMessage = "\o/";
	  (e || window.event).returnValue = confirmationMessage; //Gecko + IE
	  return confirmationMessage;                            //Webkit, Safari, Chrome
	});
</script> -->
</html>
