<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Home</title>


<script th:src="@{lib/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{lib/js/jquery.validate.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script th:src="@{lib/js/bootstrap.min.js}"></script>
<script src="https://unpkg.com/vue"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/lib/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/custom/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/custom/css/home.css}" />
</head>
<body>
	<header>
		<div class="container">
			<div class="top-header">
				<a class="logo" href="/home"><i class="fa fa-internet-explorer"
					aria-hidden="true"></i><span>ELearning</span></a>
				<div class="m">
					<div class="menu">

						<a data-th-href="${'/about'}"><span class="b"></span><span
							th:utext="#{header.about}"></span></a> <a href="/contact"><span
							class="b"></span> <span th:utext="#{header.contact}"></span></a>
					</div>
					<div class="mail">
						<table>
							<tr>
								<td>Email</td>
								<td>huygiangbk1234@gmail.com</td>
							</tr>
							<tr>
								<td>Hotline</td>
								<td>09783560xx</td>
							</tr>
						</table>
					</div>
					<div class="language">
						<a href="?lang=vi" class=""
							th:classappend="(${#locale.toString()}=='vi') ? 'active' : ''">VN</a>
						<a href="?lang=en" class=""
							th:classappend="(${#locale.toString()}=='en') ? 'active' : ''">EN</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="bt-user">
				<div class="trig"></div>
				<div th:if="${auth!=null}" data-toggle="collapse"
					data-target="#myModalAuth">
					<span th:text="${auth.nickname}"></span> <i
						class="fa fa-user-circle icon" aria-hidden="true"></i>
					<div id="myModalAuth" class="collapse">
						<p>
							<a href="/overview">My Home</a>
						</p>
						<p>
							<a href="/logout">Logout</a>
						</p>
					</div>
				</div>
				<div th:if="${auth==null}">
					<span class="b" data-toggle="modal" data-target="#myModalLogin">
						Login </span> <span data-toggle="modal" data-target="#myModalRegister">
						Register </span>
				</div>

			</div>

		</div>
	</header>
	<div id="myModalLogin" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form method="post" action="/login">
						<div class="form-group">
							<label for="email">Email address:</label> <input type="email"
								class="form-control" id="email" name="email" />
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label> <input type="password"
								class="form-control" id="pwd" name="password" />
						</div>
						<div class="checkbox">
							<label><input type="checkbox" /> Remember me</label>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div id="myModalRegister" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form method="post" action="/register" id="form-register">
						<div class="form-group">
							<label>Email address:</label> <span
								th:text="${#httpServletRequest.getParameter('errorUserName')}"></span>
							<input type="text" class="form-control" name="email" />
						</div>
						<div class="form-group">
							<label>Password:</label> <span
								th:text="${#httpServletRequest.getParameter('errorConfirmPassword')}"></span>
							<input type="password" class="form-control" name="password" />
						</div>
						<div class="form-group">
							<label>Repeat Password:</label> <input type="password"
								class="form-control" name="confirmpassword" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div class="body-about">
		<img th:src="@{/custom/img/contact.jpg}" alt="" />
		<div class="c">
			<h3>Contact us to become a partner</h3>
			<table>
							<tr>
								<td>Email</td>
								<td>huygiangbk1234@gmail.com</td>
							</tr>
							<tr>
								<td>Hotline</td>
								<td>09783560xx</td>
							</tr>
						</table>
		</div>
	</div>
</body>
<script th:inline="javascript">
	
</script>
</html>
