<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Home</title>


<script th:src="@{lib/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{lib/js/jquery.validate.js}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script th:src="@{lib/js/bootstrap.min.js}"></script>
<script th:src="@{custom/js/homepage.js}"></script>
<script src="https://unpkg.com/vue"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/lib/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/custom/css/header.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/custom/css/home.css}" />
</head>
<body>
	<header>
		<div class="container">
			<div class="top-header">
				<a class="logo" href="/home"><i class="fa fa-internet-explorer"
					aria-hidden="true"></i><span>ELearning</span></a>
				<div class="m">
					<div class="menu">

						<a href="/about"><span class="b"></span><span
							th:utext="#{header.about}"></span></a> <a href="/contact"><span class="b"></span>
							<span th:utext="#{header.contact}"></span></a>
					</div>
					<div class="mail">
						<table>
							<tr>
								<td>Email</td>
								<td>huygiangbk1234@gmail.com</td>
							</tr>
							<tr>
								<td>Hotline</td>
								<td>09783560xx</td>
							</tr>
						</table>
					</div>
					<div class="language">
						<a href="?lang=vi" class=""
							th:classappend="(${#locale.toString()}=='vi') ? 'active' : ''">VN</a>
						<a href="?lang=en" class=""
							th:classappend="(${#locale.toString()}=='en') ? 'active' : ''">EN</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="bt-user">
				<div class="trig"></div>
				<div th:if="${auth!=null}" data-toggle="collapse"
					data-target="#myModalAuth">
					<span th:text="${auth.nickname}"></span> <i
						class="fa fa-user-circle icon" aria-hidden="true"></i>
					<div id="myModalAuth" class="collapse">
						<p>
							<a href="/overview">My Home</a>
						</p>
						<p>
							<a href="/logout">Logout</a>
						</p>
					</div>
				</div>
				<div th:if="${auth==null}">
					<span class="b" data-toggle="modal" data-target="#myModalLogin">
						Login </span> <span data-toggle="modal" data-target="#myModalRegister">
						Register </span>
				</div>

			</div>

		</div>
	</header>

	<div id="myModalLogin" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form method="post" action="/login">
						<div class="form-group">
							<label for="email">Email address:</label> <input type="email"
								class="form-control" id="email" name="email" />
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label> <input type="password"
								class="form-control" id="pwd" name="password" />
						</div>
						<div class="checkbox">
							<label><input type="checkbox" name="remember-me"/> Remember me</label>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div id="myModalRegister" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Register</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form method="post" action="/register" id="form-register">
						<div class="form-group">
							<label>Email address:</label> <span
								th:text="${#httpServletRequest.getParameter('errorUserName')}"></span>
							<input type="text" class="form-control" name="email" />
						</div>
						<div class="form-group">
							<label>Password:</label> <span
								th:text="${#httpServletRequest.getParameter('errorConfirmPassword')}"></span>
							<input type="password" class="form-control" name="password" />
						</div>
						<div class="form-group">
							<label>Repeat Password:</label> <input type="password"
								class="form-control" name="confirmpassword" />
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div class="container-slide" id="container-slide">
		<div class="slide" id="slide-1">
			<div v-bind:class="{'text f1':true,'active f':active[0]}">
				<h3>Welcome to e-learning center</h3>
				<p>Here we guide you to the best online courses and e-learning
					advice for education and training.</p>
				<p>Find a great course, and get expert research and news
					on the latest technology.</p>
			</div>
			<form action="/search" id="search" v-bind:class="{'f1':true,'active f':active[0]}" method="post">
				<input type="search" name="q" id=""
					data-th-attr="placeholder=#{search.placeholder}" />
			</form>
			<div v-bind:class="{'tip f1':true,'active f t':active[0]}">
				<span style="color:#aaafff">* </span><span data-th-text="#{home.slide1.tip}"></span>
			</div>
		</div>

		<div class="slide" id="slide-2">
			<div class="container">
				<div  v-bind:class="{'text f1':true,'active f':active[1]}">
					<h3>Large Learning Environment</h3>
				</div>
				<div class="row list-item">
					<div v-bind:class="{'col-md-3 item f1':true,'active':active[1]}">
						<h2>2000</h2>
						<h4>Count parterts</h4>
					</div>
					<div v-bind:class="{'col-md-3 item f1':true,'active':active[1]}">
						<h2>2000</h2>
						<h4>Count courses</h4>
					</div>
					<div v-bind:class="{'col-md-3 item f1':true,'active':active[1]}">
						<h2>2000</h2>
						<h4>Count students</h4>
					</div>
					<div v-bind:class="{'col-md-3 item f1':true,'active':active[1]}">
						<h2>2000</h2>
						<h4>Count files</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="slide" id="slide-3">
			<div v-bind:class="{'text f1':true,'active f':active[2]}">
				<h3>Our Partner</h3>
			</div>
			<div class="list-item">
				<img v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/bkhn.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/xd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/xd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/bkhn.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/ktqd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/xd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/xd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/bkhn.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/bkhn.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/xd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/xd.png}" alt="" /> <img
					v-bind:class="{'item':true,'active':active[2],'f1':!active[2]}" th:src="@{custom/img/bkhn.png}" alt="" />
			</div>
		</div>

		<div class="slide" id="slide-4">
			<div class="container">
				<div class="row" style="margin-top: 100px">
					<div v-bind:class="{'col-md-7 f1':true,'active':active[3]}">
						<h3>You want to become a partner</h3>
						<p>You are a teacher or a organization. We'll help you
							transmit your knowledge to everyone.</p>
						<p>Contact me now!</p>
					</div>
					<div v-bind:class="{'col-md-5 f1':true,'active':active[3]}" style="margin-top: 150px">
						<p>
							<a href="" class="readmore">Read more our services</a>
						</p>
						<p>
							<a href="/contact" class="contact">Contact Us Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="slide" id="slide-5">
			<div class="container">
				<div class="row x" style="margin-top: 100px;">
					<div class="avatar">
						<img src="/custom/img/author.jpg" alt="" />
					</div>
					<div class="info">
						<p>Nguyễn Huy Giang</p>
						<p>MSSV: 20131101  Lớp CNTT 2.04 K58</p>
						<p>Trường Đại Học Bách Khoa Hà Nội</p>
					</div>
					<img src="/custom/img/bkhn.png" alt="" />
				</div>
				<div class="row center" style="margin-top: 50px;">
					<span style="width: 60%; margin: auto; border: 1px solid #fff"></span>
				</div>
				<h3 class="center" style="margin-top: 30px">Bk E-Learning
					Services</h3>

			</div>
		</div>

		<div id="nav-icon">
			<span v-for="(value, key) in slide"
				:class="{active:(key===isCurrent)}"></span>
		</div>
	</div>
</body>
<script th:inline="javascript">
	if([[${param.errorlogin}]]) $("#myModalLogin").modal("show");
	else if([[${param.errorRegister}]]) {
		$("#myModalRegister").modal("show");
	}
</script>
</html>
