<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
<link rel="stylesheet" th:href="@{/custom/css/course.css}" />
<link rel="stylesheet" th:href="@{/custom/css/notify-message.css}" />
<style>
	.error{margin-top:200px;text-align: center;font-size: 20px}
</style>
</head>
<div th:replace="user/layout/layout :: head"></div>
<body>
	<div th:replace="user/layout/layout :: header"></div>
	
	<div class="error" data-th-text="${error}"></div>
	<div th:replace="user/layout/layout :: menu"></div>
	<div th:replace="user/layout/layout :: script"></div>

</body>
</html>
