<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<div class="menu-left" th:fragment="col-left">
		<div class="table">
			<div class="title" data-th-text="#{course.title.general}"></div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id}"
						data-th-text="#{course.title.overview}">Tổng quan</a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/members'}"
						data-th-text="#{course.title.member}">Danh sách thành viên</a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/question_bank'}"
						data-th-text="#{course.title.questionbank}">Ngân hàng câu hỏi</a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/forums'}"
						data-th-text="#{course.title.forum}">Thảo luận</a>
				</p>
			</div>
			<div class="item" data-th-if="${member.role=='admin'}">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/groups'}"
						data-th-text="#{course.title.group}">Nhóm</a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/assignments'}"
						data-th-text="#{course.overview.assignment}"></a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/video'}"
						data-th-text="#{course.title.video}">Video</a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/file'}"
						data-th-text="#{course.title.file}">File</a>
				</p>
			</div>
		</div>
		<div class="table">
			<div class="title" data-th-text="#{course.title.chart}"></div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						 data-th-if="${member.role=='admin'}"
						data-th-attr="href=${'/course/'+course.id+'/progress'}"
						data-th-text="#{course.title.progress}"></a><a
						 data-th-if="${member.role!='admin'}"
						data-th-attr="href=${'/course/'+course.id+'/progress/detail'}"
						data-th-text="#{course.title.progress}"></a>
				</p>
			</div>
			<div class="item">
				<p>
					<i class="fa fa-caret-right" aria-hidden="true"></i><a
						data-th-attr="href=${'/course/'+course.id+'/score'}"
						data-th-text="#{course.title.score}"></a>
				</p>
			</div>
		</div>
		<div class="table" id="menu-lesson">
			<div class="title" ><span data-th-text="#{course.title.lession}"></span>
				<a data-th-href="${'/course/'+course.id+'/lessons'}"><i data-th-if="${member.role=='admin'}" class="fa fa-cog" aria-hidden="true" title="setting"></i></a>
			</div>
			<div class="item" v-for="(l,index) in lessons">
				<div>
					<p v-on:click="toggleOpen(index)">
						<i v-if="!l.isOpen" class="fa fa-caret-right" aria-hidden="true"></i>
						<i v-if="l.isOpen" class="fa fa-caret-down" aria-hidden="true"></i>
						<span v-text="l.name"></span>
					</p>
					<div class="info" v-if="l.isOpen">
						<a v-for="f in l.files" v-bind:href="'/custom/document/'+f.name" class="i" target="_blank">
							<span v-html="getIcon(f.rawName)"></span>
							<span v-text="f.rawName" class="n ellipsis"></span>
						</a>
						<a v-for="f in l.videos" v-bind:href="'/course/'+idCourse+'/lesson/'+l.id+'/video/'+f.id" class="i">
							<span v-html="getIcon(f.rawName)"></span>
							<span v-text="f.rawName" class="n ellipsis"></span>
						</a>
						<a v-bind:href="'/course/'+idCourse+'/assignment/'+a.id" v-for="a in l.assignments" v-bind:class="{'i':true,'o':isOver(a.timeEnd)}">
							<i class="fa fa-pencil-square-o w" aria-hidden="true"></i>
							<span v-text="a.title" class="n ellipsis"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			var test2={idCourse:[[${course.id}]]}
		</script>
	</div>
	
</body>
</html>